{{define "pages/dashboard.html"}}
{{template "layouts/header" .}}
<section>
  <input id="search-query" name="query" type="search" 
    placeholder="Add movie..." 
    autocomplete="off" 
    hx-get="/movie"
    hx-trigger="input changed delay:500ms" 
    hx-target="#search-results" 
    hx-indicator="#search-indicator"
  />
  <div id="search-results">
    <div class="loading-indicator htmx-indicator" id="search-indicator" aria-busy="true"></div>
  </div>
  
</section>
<article class="watchlist-panel">
  <h2>My watchlist</h2>
  {{if .InitialFlash}}
  {{template "partials/flash.html" .InitialFlash}}
  {{end}}
  {{template "partials/watchlist.html" .}}
</article>
{{template "layouts/footer" .}}
{{end}}